* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family:'FuturaPT-Medium';
  height: 100%;
  margin: 0;
  font-weight: 400;
  background-image: url(../images/bgi-body.png);
  background-repeat: no-repeat;
  overflow-x: hidden;
}

img {
  display: block;
  height: auto;
}

.site-main {
  flex-grow: 1;
}