/* start news section  */
.news {
  padding-bottom: 150px;
}

.news__title {
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  color: #333333;
  text-align: center;
}

.news__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 60px;
  margin-top: 0;
  margin-bottom: 116px;
  padding-left: 0;
  list-style: none;
}

.news__item {
  width: 305px;
  border: 1px solid #E4E4E2;
  border-radius: 5px;
}

.news__item:hover .news__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFBD54;
}
.news__item:active .news__link {
  color: #333333;
  opacity: 0.6;
}

.news__subimg {
  margin-bottom: 20px;
}

.news__time {
  display: block;
  text-align: end;
  margin-bottom: 2px;
  padding-right: 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #949494;
}

.news__text-wrapper {
  padding: 0 31px 37px 30px;
}

.news__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;  
  color: #000000;
}

.news__subtext {
  margin-top: 0;
  margin-bottom: 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.news__link {
  position: relative;
  padding-left: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #333333;
}

.news__link::before {
  position: absolute;
  display: block;
  width: 23px;
  height: 21px;
  background-image: url("../images/news-pet.svg");
  background-size: contain;
  content: "";
}

.news__img-wrapper {
  margin-left: 24px;
}

.news__link-wrapper {
  margin-right: 24px;
  padding-top: 41px;
  padding-right: 33px;
  padding-left: 30px;
  background-color: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
}

.news__link-wrapper:hover .news__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFBD54;
}
.news__link-wrapper:active .news__link {
  color: #333333;
  opacity: 0.6;
}

.hags__wrapper {
  margin-bottom: 40px;
}

.hags__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #3D9CEA;
  text-decoration: none;
}

.news__time1 {
  margin-left: 67px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #949494;
}

.news__link-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;
  color: #333333;
}

.news__link-text {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.news__main-link {
  display: block;
  margin: 0 auto;
  width: 201px;
  padding: 16px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  background-color: #333333;
  border-radius: 3px;
}

.news__main-link:hover {
  background-color: #FFBD54;
  border-radius: 3px;
}

.news__main-link:active {
  opacity: 0.6;
}
/* finish news section  */