.service {
  padding-top: 118px;
  padding-left: 177px;
  padding-bottom: 180px;
  background-image: url("../../images/service-parrot.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 550px) calc(50% - 10px);
}

.service__title-wrapper {
  width: 447px;
}

.service__title {
  margin-top: 0;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
}

.service__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}